
*{
    box-sizing: border-box;
}

body{
    background: #F1EBE3;
}
/* Header and Nav */
header{
    background: white;
    margin: 0px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    z-index: 1;
}
nav{
    font-family: 'Museo';
} 
nav ul li a img {
    width: auto;
    height: 100px;
} /* adjusts size of logo within the list */ 
nav ul, nav li {
    list-style: none;
    margin: 0;
    padding: 0;
} 
nav > ul {
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    height: 100%;
} 
nav a{
    display: block;
    text-decoration: none;
    color: #25161B;
    line-height: 100px;
    padding: 0 2rem;
    transition-duration: 0.2s;
} 
nav a.logo{
    height: 100px;
}
nav a:hover{
    background: #e0b9b3;
    color: #fff;
}

.toggle{
    display: none;
}

/* Main */ 
main{
    font-family: 'Museo', sans-serif;;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 10px;
    row-gap: 30px;
    grid-template-rows: 800px 1fr;
    justify-content: center;
} 
main .hero_img{
    display: grid;
    grid-column: 1 / 7;
    background: url(heroimgbig.jpg) no-repeat center;
    background-size: cover;
    justify-content: end;
    align-content: center;
} 
main .home_text{
    text-align: right;
    margin-right: 2.5rem;
    padding: 0px 10px 0px 10px;
}
main .home_text h1{
    font-size: 80px;
    color: #e0b9b3;
    margin-top: 10px;
    margin-bottom: 10px;
}
main .home_text p{
    color: #F1EBE3;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 30px;
}
main .home_text a{
    background: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    transition-duration: 0.2s;
    cursor: pointer;
    color: #25161B;
    font-family: 'Museo', sans-serif;
    text-decoration: none;
}
main .home_text a:hover {
    background-color:#e0b9b3;
    color: white;
} 
main .block1{
    display: grid;
    grid-row-start: 2;
    grid-column: 1 / 3;
    justify-content: center;
}
main .block2{
    display: grid;
    grid-row-start: 2;
    grid-column: 3 / 5;
    justify-content: center;
}
main .block3{
    display: grid;
    grid-row-start: 2;
    grid-column: 5 / 7;
    justify-content: center;
}
main .block1 img, .block2 img, .block3 img{
    width: 300px;
    height: 300px;
} /* Resized images show up with poor quality, even at correct ppi, so I set width and height here */ 
footer{
    font-family: 'Museo', sans-serif;
    background: white;
    margin-top: 30px;
    padding: 3px;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}

/* Mobile View */
@media (max-width:900px) {
    /* Header and Nav */ 
    header {
        background: #fff;
        min-height: 6rem;
    } 

    nav {
      margin-top: -100000px; 
    }
    .show-menu nav{
        margin-top: 100px;
    } 
    nav a {
        padding-left: 3rem;
    }

    nav > ul > li:nth-child(3) {
        position: absolute;
        top: 0;
        left: 0; 
        /* display: none; */
    } /* Hides logo within list navigation */ 

    nav > ul{
        display: block;
        font-size: 2rem;
    }
    .toggle {
        display: block;
        position: absolute;
        top: 1.5rem;
        right: 3rem;
    } .toggle span {
        display: block; 
        width: 35px;
        height: 6px;
        margin-bottom: 5px;
        background: #e0b9b3;
        z-index: 1;
    }

    /* Main */ 
   main {
        display: block;
    }
    main .hero_img{
        justify-content: center;
    }
    main .home_text{
        text-align: center;
        margin-right: 0;
        background-color: rgba(37,22,27,0.4);
        /*background-color:rgba(241,235,227,0.5);*/
    }
    main .home_text h1{
        font-size: 40px;
    }
    main .home_text p{
        font-size: 16px;
        color: #F1EBE3;
    }
    main .hero_img{
        min-height: 20rem;
    }
    main .block1, .block2, .block3{
        margin-top: 8px;
    }
    main .block1 img, .block2 img, .block3 img{
        width: 100%;
        height: auto;
    }
}

